<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <title> Error </title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="background">
                    <img src="/static/assets/404_error_background.jpg" alt="" id="error-background">
                </div>
                <div class="change-button">
                    <img class="chevron-icon" src="https://img.icons8.com/?size=100&id=39789&format=png&color=000000" alt="">
                    <a href="{{ url_for('home')}}"> MAIN PAGE </a>
                </div>
                <h2 id="error-text"> This city does not exist. Please try again. </h2>
                 <div class="footer">
                   <a href="https://pratikpatil07.netlify.app/"> © Pratik Patil </a>
                   <span class="separator"> | </span>
                   <a href="https://openweathermap.org/api">Powered by OpenWeather API</a>
                </div>
            </div>
        </main>
    </body>
</html>
